asyncpg==0.30.0
contextlib2==21.6.0
databases==0.9.0
fastapi==0.115.6
Faker==35.0.0
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-logging==0.50b0
pip==25.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
python-multipart==0.0.20
sqlalchemy==2.0.36
uvicorn==0.32.1
